/*
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Sawarabi Mincho', serif;
*/

/* Universal Styles */
*, ::before, ::after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  height: 100%;
}

body {
  background-color: #adacac;
  font-family: 'Sawarabi Mincho', serif;;
  color: #000;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4 {
  font-family: 'Noto Sans KR', sans-serif;
}

/* Styling the header */

header.nav-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #4e697a;
}

.nav-links li {
  display: inline;
  padding: 1rem;
}

.nav-links li:hover {
  background-color: #adacac;
  transition: background-color 300ms ease-in;
}

.nav-links a {
  color: #000;
  text-decoration: none;
}

/* Main Content */

.main-heading-box {
  display: flex;
  justify-content: left;
  margin-top: 3rem;
  margin-left: 5rem;
}

.main-heading {
  color: #000;
  font-size: 3rem; 
}


/* Styling the About Me Section */

.about-me-section {
  height: 31.25rem;
}

figure{
  width: 50%;
  height: 12.5rem;
  margin-left: 5rem;
}

figure img {
  max-height: 100%;
  width: auto;
  display: block;
}

figure figcaption {
  font-size: 14px;
}

.about-me-box {
  margin: 0 2rem;

}

.about-me-name {
  font-size: 5rem;
  color: #195875;
  margin-bottom: 0;
  animation: move-name 1s;
}

@keyframes move-name {
  25% {
    rotate: 5deg; 
  }
  50% {
    rotate: -5deg;
  }
  75% {
    rotate: 5deg;
  }
  100% {
    rotate: 0deg;
  }
}

